.yk_nav li:nth-child(8) a{ color:#398CE8 !important;}
    .change-list li{height:auto !important;}
    .ter-box {
        padding-bottom: 40px;
        width: 100%;
        min-width: 1180px;
        position: relative;
        overflow: hidden;
    }
    .w1180 {
        width: 1180px;
        margin: 0 auto;
    }
    .ter-tit {
        line-height: 1;
        padding: 50px 0 30px;
        text-align: center;
    }
    .ter-tit strong {
        font-size: 38px;
        color: #333;
        line-height: 1;
    }
    .ter-tit p {
        font-size: 18px;
        color: #666 !important;
        margin-top: 10px;
    }
    .HK__bad-list {
        max-width: 1000px;
        margin: auto;
        overflow: auto;
        height: auto;
        padding: 30px 10px 45px;
    }
    .HK__bad-list li:first-child {
        margin-left: 0 !important;
    }
    .HK__bad-list li {
        width: 32% !important;
        float: left;
        text-align: center;
        margin:0 0 50px !important;
        box-shadow: 0 0 8px 3px #e2e3e3;
    }
    .HK__bad-list.w50 li{width:46% !important;margin: 0 2% !important;}
    .HK__bad-list.w50 li:first-child {
        margin-left: 2% !important;
    }
    .HK__bad-list li:nth-child(2){margin: 0 2% !important;}
    .HK__bad-list li:nth-child(5){margin: 0 2% !important;}
    
    .HK__bad-list li span{text-align: left !important;display: block;padding: 20px 25px;line-height: 30px;height: 70px;}

    .bad-bd {
        width: 100%;
        height: auto !important;
        border-radius: 8px;
        background: #fff;
        overflow: auto !important;
        padding: 15px 0;
    }
    .bad-bd img {
        margin-top: 25px;
        -webkit-transition: all .45s;
        transition: all .45s;
        width:75%;
        height:150px;
    }
    .bad-bd p {
        line-height: 24px;
        padding: 16px 30px 0;
        text-align: center;
        color: #000 !important;
        font-size: 20px !important;
        font-weight: 600;
    }
    .go-jion {
        width: 20%;
        height: 50px;
        display: block;
        margin: 0 auto;
        border-radius: 10px;
        background: #3388f2;
        text-align: center;
        line-height: 50px;
        color: #fff;
        font-size: 18px;
        background: #ff9900 !important;
    }
    .go-jion i {
        background: url(../images/gszc/wechat.png) no-repeat;
        width: 26px;
        height: 26px;
        vertical-align: middle;
        margin-right: 10px;
    }
    .dib {
        display: inline-block;
        *zoom: 1;
        *display: inline;
    }
.go-jion i {
    background: url(../images/gszc/wechat.png) no-repeat;
    width: 26px;
    height: 26px;
    vertical-align: middle;
    margin-right: 10px;
}

/*.change-list li img{
    display:block;
    margin:0 !important;
}*/
.change-list li b{display: inline-block;}
.change-list li:hover {
    box-shadow:none !important;
}
.go-submit {
    width: 30%;
    color: #fff;
    font-size: 16px;
    height: 39px;
    line-height: 39px;
    background: #ff0000;
    margin: 0 auto 0 !important;
    border-radius: 5px;
    display: block;
}
.base-left ul li:hover span{color: #398CE8 !important;}
.zl-base{background: url("../images/xggszc/new/bg.png");padding-bottom: 30px;}
.zl-base ul li{
    background-color: rgba(255,255,255,0.65) !important;
    box-shadow:none;
    border-radius: 10px !important;
}
.go-submit,.HK__bad-list li:hover{opacity: 0.6}
.change-list li:hover{opacity: 0.6}
.zl-base ul li img:hover{opacity: 0.5;-webkit-transform: scale(1.2);transform: scale(1.2);}
.zl-base ul li div p{color: #2b86f7 !important;}
.zl-base ul li div span{height: auto !important;}
.zx-wh ul li {
    width: 19.2%;
    float: left;
    overflow: auto;
}
.zx-wh{overflow: auto;margin:30px auto;max-width: 1180px;}
.zx-wh ul li:nth-child(1) {
    margin-left: 2%;
}
.zx-wh ul li img {
    text-align: center;
    margin: auto;
    display: block;
    width: 60%;
}
.zx-wh ul li span {
    text-align: center;
    display: block;
    color: #363636;
    font-size: 16px;
    margin-top: 30px;
}

.change-list.max1 li:hover img {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.change-list.max1 li:hover {
    box-shadow:none;
}
.change-list li:nth-child(5){
    margin-left: 0 !important;
    height:116px;
}
.change-list.max1 li{margin-top:30px;}
.max1 a{display: block;width: 100%;font-size: 30px;color: #fff;padding:22px 0; line-height: 36px;}
.change-list.max1 li img{height:116px;}
.HK__bad-list.yx li div{background:#10a5f7;}
.HK__bad-list.yx li div span{color: #fff;font-size: 18px;text-align: center !important; height:auto !important;}

.database{background: #fff;padding: 0 30px 30px;overflow: auto;}
.base-left{overflow: auto;}
.base-left img{float: left;width: 40%;}
.base-left ul{float: right;width: 55%;}
.base-left ul li{width: 100%;display: inline-block;}
.base-left ul li a{width: 30px;height: 30px; background-color:#fb0303;display: block;float: left;line-height: 30px;color: #fff;text-align: center;font-size: 18px;border-radius: 50%;}
.base-left ul li span{display: block;float: left;line-height: 30px;margin-left: 10px;font-size: 18px;}
.safe{width: 100%;overflow: auto;}
.safe ul li{width: 25%;height:196px;float: left;text-align: center;}
.safe ul li h2{color: #000;margin-top: 30px;}
.safe ul li span{display: inline-block;padding: 10px 20px;font-size: 16px;}
.safe ul li a{width: 30%;border:solid #666 1px; padding:5px 20px;border-radius: 10px;font-size: 16px;margin-top: 10px;}
.zx-wh.bor ul{padding:5px 5px 10px;overflow: auto;}
.safe ul li:hover a{background-color: #ff0119; border:none;color: #fff;}
.zx-wh.bor ul li{ width: 18%;margin:0 1%; border-radius:10px;padding:20px 0;box-shadow: 0 0 8px 3px #e2e3e3;}
.zx-wh.bor ul li span{margin-top:15px;}
.w1180{text-align: center;}
.change-list{text-align: center;}