/*create by LiWeiShan*/
@charset "utf-8";
html{ font:normal 62.5%/2.3em "微软雅黑";}
body{ margin:0 auto; padding:0; font-size:1.4em; color:#000; width:100%; min-width:1200px; background:#fff; zoom:1;}
ul,li,form, dl,dt,dd, div,p{ padding:0; margin:0;}
li{ list-style:none;}
select,input,textarea{ border-radius:0; -webkit-border-radius:0; color:#444;}
input:focus { outline: none;}
input,button,select,textarea{outline:none;/*-webkit-appearance:none;*//*强制去除表单自带的样式*/ }
textarea{resize:none;/*-webkit-appearance:none;*//*强制去除textarea自带的样式*/ }
textarea,input,select { background:none; border:none; margin:0; padding:0;}
article,aside,footer,header,hgroup,nav,section,figure,figcaption{ display: block;} /*html5设置*/
figure,figcaption{ margin:0; padding:0;}
audio,canvas,progress,video { display: inline-block; vertical-align: baseline;}
img{ border:none; max-width:100%;/* border:0; vertical-align:top;*/}
a{ color:#000; text-decoration:none; -webkit-tap-highlight-color:rgba(0,0,0,0);}
a:focus {outline:none; -moz-outline:none;}
a:hover{ color:#28a7e1; text-decoration:none;}
.clear{ clear:both; height:0; overflow:hidden;}
h1,h2,h3,h4,h5,h6{ margin:0; padding:0;}
em,i{ font-style:normal;}
table{border-collapse:collapse;border-spacing:0;}
.tac{ text-align:center;}
.fl{ float:left;}
.fr{ float:right;}
.dib{ display:inline-block;}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    clear: both;
    height: 0;
}
.clearfix {
    zoom: 1;
}
.corlorfff{ color:#fff !important;}



.w1200{ width:1200px; margin:0 auto; overflow: hidden;}

/*Top*/
.Toper{ width:100%; height:120px;}
.Top{ width:1200px; height:120px; margin:0 auto; position:relative;}
.Top a.logo{ position:absolute; top:30px; left:0; width:170px; height:73px; background:url(../images/logo.png) no-repeat; background-size:cover;}
.Top .logo_title{ position:absolute; top:40px; left:146px; height:60px; line-height:60px; border-left:1px solid #666; margin-left:20px; padding-left:20px; font-size:20px; letter-spacing:5px;}
.Top .tel{ position:absolute; top:20px; right:0; font-size:16px; background:url(../images/icon_tel.png) no-repeat left; padding-left:40px;}
.Top .tel b{ font-family:"Impact"; font-weight:normal; font-size:22px; color:#28a7e1;}


.MainNav{ position:absolute; top:70px; right:-15px; font-size:16px; z-index:9;}
.MainNav li{ float:left; position:relative;}
.MainNav li a{ display:block; height:40px; margin:0 18px; text-transform:uppercase;}
.MainNav li a:hover,.MainNav li a.onnav{ color:#28a7e1; text-decoration:none; /* border-bottom:1px solid #28a7e1;*/}

.MainNav li .subnav{ display:none; position:absolute; top:41px; background:rgba(125,195,250,0.8); width:100%;}
.MainNav li:nth-child(3) .subnav{ width:160%; left:-30%;}
.MainNav li .subnav ul{ padding:10px 0;}
.MainNav li .subnav li{ float:none; height:30px; line-height:34px; border-bottom:1px solid #fff; font-size:14px;}
.MainNav li .subnav li:last-child{ border-bottom:none;}
.MainNav li .subnav li a,
.MainNav li a.onnav .subnav li a{ display:block; height:30px; line-height:30px; margin:0; padding:0; text-align:center; color:#fff; font-weight:normal; text-transform:capitalize; border-bottom:none;}
.MainNav li .subnav li a:hover,.MainNav li .subnav li.aon a{ color:#28a7e1; border-bottom:none; background:rgba(255,255,255,0.9);}


/*Homeban*/
.Homeban{ position:relative; width:100%; height:420px; overflow:hidden;}
.Homeban .hd{ position:absolute; bottom:20px; z-index:1; height:10px; left:50%; margin-left:-35px; overflow:hidden;}
.Homeban .hd ul{ float:left; overflow:hidden; zoom:1;}
.Homeban .hd ul li{ float:left; width:10px; height:10px; background:#999; margin-right:8px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;}
.Homeban .hd ul li.on{ background:#fff; cursor:pointer;}
.Homeban .bd{ position:relative; height:100%; z-index:0;}
.Homeban .bd li{ zoom:1; width:100%; height:420px; display:block;}
.Homeban .bd img{ width:100%; height:420px; display:block;}


.Homeban .prev,
.Homeban .next{ position:absolute; left:3%; top:50%; margin-top:-50px; display:block; width:32px; height:40px; background:url(../images/arrow.png) -110px 5px no-repeat; filter:alpha(opacity=50);opacity:0.5;}
.Homeban .next{ left:auto; right:3%; background-position:8px 5px;}
.Homeban .prev:hover,
.Homeban .next:hover{ filter:alpha(opacity=100);opacity:1;}


/*banner*/
.banner{ width:100%; height:420px;}


.advantage-wrap {
	width: 100%;
	height: 122px;
	background: #fefefe;
	overflow: hidden;
  min-width: 1200px;
}
.advantage li {
	width: 312px;
	margin-top: 35px;
}
.advantage li.type4 {
	width: 264px;
}
.advantage li img {
	width: 48px;
	height: 48px;
	display: block;
	margin-right: 20px;
}
.advantage-des div {
	font-size: 18px;
	color: #333;
}
.advantage-des p {
	font-size: 14px;
	color: #666;
}

.hot-wrap {
    width: 100%;
    overflow: hidden;
    min-width: 1200px;
    background-color: #fff;
    padding-bottom: 60px;
  }

  .hot-title {
    font-size: 28px;
    color: #333;
    letter-spacing: 3px;
    padding:75px 0 20px;
  }

  .hot-des {
    font-size: 14px;
    color: #666;
    padding-bottom: 50px;
  }

  .hot-l,
  .hot-r {
    width: 550px;
    height: 598px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 0 50px rgba(187, 186, 207, .3);
  }

  .hot-l {
    margin: 0 32px 0 34px;
  }

  .hot-l-top {
    width: 100%;
    height: 168px;
    background: -webkit-linear-gradient(left, #00cca8, #61dba3);
    background: -o-linear-gradient(right, #00cca8, #61dba3);
    background: -moz-linear-gradient(right, #00cca8, #61dba3);
    /* background: linear-gradient(to right,#00cca8, #61dba3); */
    border-radius: 6px 6px 0 0;
  }

  .hot-li {
    width: 100%;
    height: 100%;
    background: url(../images/hot_01.png) no-repeat right center;
  }

  .hot-li p {
    font-size: 28px;
    color: #fff;
    padding: 22px 0 22px 36px;
  }

  .hot-li div {
    font-size: 16px;
    color: #fff;
    padding-left: 36px;
    margin-bottom: 12px;
  }

  .hot-li div span {
    display: inline-block;
    color: #00b192;
    font-size: 14px;
    background: #fff;
    padding: 2px 7px;
    border-radius: 14px;
    margin-right: 6px;
  }

  .hot-r-top {
    width: 100%;
    height: 168px;
    background: -webkit-linear-gradient(left, #464aff, #9447fa);
    background: -o-linear-gradient(right, #464aff, #9447fa);
    background: -moz-linear-gradient(right, #464aff, #9447fa);
    background: linear-gradient(to right, #464aff, #9447fa);
    border-radius: 6px 6px 0 0;
  }

  .hot-r-top .hot-li {
    width: 100%;
    height: 100%;
    background: url(../images/hot_02.png) no-repeat right center;
  }

  .hot-l-bottom {
    padding: 0 42px;
    box-sizing: border-box;
  }

  .hot-bm-title {
    border-bottom: 1px solid #e2e2e2;
    font-size: 16px;
    color: #333;
    padding: 32px 0;
    margin-bottom: 20px;
  }

  .hot-bm-title .left {
    padding: 0 170px 0 24px;
  }

  #hot-radio {
    width: 235px;
    font-size: 14px;
    color: #1cd0a6;
  }

  #hot-radio dd {
    float: left;
    margin: 0 10px 0 25px;
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    padding-bottom: 12px;
  }

  #hot-radio dd b {
    width: 22px;
    height: 22px;
    background: url(../images/hot_icon1.png) no-repeat center center;
    display: block;
    position: absolute;
    left: 0;
    top: 2px;
  }

  #hot-radio .selected b,
  #type-radio .selected a:hover b {
    background: url(../images/hot_icon2.png) no-repeat center center;
  }

  #hot-radio2 {
    width: 195px;
    font-size: 14px;
    color: #1cd0a6;
  }

  #hot-radio2 dd {
    float: left;
    margin: 0 10px 0 25px;
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    padding-bottom: 25px;
  }

  #hot-radio2 dd b {
    width: 22px;
    height: 22px;
    background: url(../images/hot_icon1.png) no-repeat center center;
    display: block;
    position: absolute;
    left: 0;
    top: 2px;
  }

  #hot-radio2 .selected b,
  #type-radio .selected a:hover b {
    background: url(../images/hot_icon2.png) no-repeat center center;
  }

  .hot-inner-btn,
  .hot-inner-btn2 {
    width: 260px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 6px;
    font-size: 16px;
    color: #fff;
    background: #00d0a6;
    box-shadow: 0 0 18px rgba(1, 204, 168, .3);
    cursor: pointer;
    margin: 40px 0 0 105px;
  }

  .hot-inner-btn:hover {
    background: #11c3a3;
  }

  .hot-r .hot-bmr-title {
    margin: 60px 0 42px;
  }

  .hot-bm-tl {
    width: 100px;
    margin-left: 142px;
  }

  .hot-bm-tl img,
  .hot-bm-tr img {
    display: block;
    width: 62px;
    height: 62px;
    margin: 0 auto;
  }

  .hot-bm-tl p,
  .hot-bm-tr p {
    font-size: 14px;
    color: #666;
    text-align: center;
    padding-top: 16px;
  }

  .hot-bm-tr {
    width: 70px;
    margin-left: 120px;
  }

  .hot-r-bottom ul li {
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: #6c6eff;
    box-sizing: border-box;
    border: 1px solid #6d6bff;
    border-radius: 48px;
    margin-right: 12px;
    margin-bottom: 16px;
    cursor: pointer;
  }

  .hot-r-bottom ul li.list1,
  .hot-r-bottom ul li.list5 {
    margin-left: 60px;

  }

  .hot-r-bottom ul li.list5 {
    width: 144px;
  }

  .hot-r-bottom ul li.list6,
  .hot-r-bottom ul li.list7 {
    width: 130px;
  }

  .hot-inner-btn2 {
    background: #6c6eff;
    margin: 24px auto 0;
    box-shadow: 0 0 18px rgba(108, 110, 255, .3);
  }

  .hot-inner-btn2:hover {
    background: #5154f4;
  }

  .hot-bm-tl p:hover,
  .hot-bm-tr p:hover {
    color: #6c6eff;
    cursor: pointer;
  }

.ter-box_new{width:100%;margin: auto;text-align: center;}
.ter-box_new img{width:100%;margin: auto;}
.ter-box{ padding-bottom:40px; text-align: center;}
.ter-box img{ margin: auto;}
.ter-tit{
	font-size: 28px;
  color: #333;
  letter-spacing: 3px;
  margin:50px 0;
}
.ter-box.box-bg{
	background-image: url(../images/background.png);
	height:auto;
	max-width: 1920px;
	margin: auto;
}
.vs-img ul{width:1200px; margin: auto; overflow: hidden;}
.vs-img ul li{
	width: 32%;
	float: left;
	padding: 20px 0;
	border-radius: 10px;
	background: #696968;
	margin: 20px 2% 20px 0;
	color: #fff;
	height: 150px;
}
.vs-img ul li:nth-child(1){
    background: linear-gradient(to right, #5be2d1, #379da2);
}
.vs-img ul li:nth-child(2){
    background: linear-gradient(to right, #4173f6, #0052f5);
}
.vs-img ul li:nth-child(3){
    background: linear-gradient(to right, #a957ef, #6455f6);
}
.vs-img ul li:nth-child(4){
    background: linear-gradient(to right, #f99953, #f14662);
}
.vs-img ul li:nth-child(5){
    background: linear-gradient(to right, #5be2d1, #379da2);
}
.vs-img ul li:nth-child(6){
    background: linear-gradient(to right, #4173f6, #0052f5);
}

.vs-img ul li h1{font-size:18px; text-align: left; margin-left: 30px; font-weight: normal; line-height:36px;}
.vs-img ul li p{font-size:14px; text-align: left; margin-left: 30px; line-height: 22px; height: 44px;}
.vs-img ul li a{
  border:1px solid #fff;
	font-size:14px;
	width: 100px;
	color: #fff;
	padding: 5px 0; 
	border-radius: 5px; 
	display: block; 
	margin:20px 30px;
}
.process-wrap {
    width: 100%;
    overflow: hidden;
    min-width: 1200px;
    height: 570px;
    background: -webkit-linear-gradient(left, #550ef9, #7523dc);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #550ef9, #7523dc);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #550ef9, #7523dc);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #550ef9, #7523dc);
    /* 标准的语法 */
}
.vs-text{
	width: 1200px;
	overflow:auto;
    margin:auto; 
    text-align: left;
}

.process-tab5 {
    padding-top: 80px;
}

.process-tab5 li.list-left {
    width: 698px;
}

.process-tab5 li.list-right {
    width: 502px;
}

.process-tab5 li .question {
    font-size: 16px;
    color:#fff;
    margin-bottom: 18px;
}

.process-tab5 .list-left .answer {
    width: 604px;
    height: 54px;
    line-height: 54px;
    background: #7637ff;
    /* background: #b59af1; */
    padding-left: 22px;
    box-sizing: border-box;
    border-radius: 2px;
}

.process-tab5 li .question span {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: #00d0a6;
    margin-right: 12px;
}

.process-tab5 li .answer {
    font-size: 14px;
    color: #fff;
    margin-bottom: 3rem;
    margin-left: 2rem;
}

.process-tab5 .list-right .answer {
    width: 470px;
    height: 100px;
    line-height: 1.5rem;
    background: #7637ff;
    padding: 0.8rem 2rem 1rem;
    box-sizing: border-box;
    text-align: justify;
}
.footer{ padding:50px 0 10px; border-top:1px solid #ddd;}
.footer img{ width:1200px; margin: 0 auto 10px;}
.footer p{ text-align: center; color:#666;}